@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #505050;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    width: 540px;
    height: 960px;
    background-color: #000000;
    border-radius: 50px;
}

.screen {
    width: 100%;
    height: 37%;
}

.buttons {
    height:63%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px 40px 40px;
}

.big-button {
    color: black !important;
    background-color: #D4D4D2;
    /* aspect-ratio: 2 !important; */
    height: 75px !important;
    width: 100%;
}

.button {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: roboto;
    font-weight: 100;
    font-size: 3rem;
    aspect-ratio: 1;
}

.num {
    background-color: #505050;
}

.operator {
    background-color: #FF9500;
}

.item-Clear {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

.item-Delete {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-end: 2;

}

